body {
	width: 450px;
}

table tr td {
	padding-left: 20px;
}

table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

table tr {
	border-bottom: 1px solid black;
}

td {
    padding-bottom: 20px;   
}

/*
table tr:last-child {
	border-bottom: none;
}
*/

input[type=range] {
	-webkit-appearance: none;
	margin: 18px 0;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	height: 9px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #006b95;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 21px;
	width: 10px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -6px;
}

#reset-user-model-confirm-button {
	color: white;
	background: #cc0000;
	text-shadow: none;
	/*font-weight: bold;*/
}

#settings-content {
	padding-bottom: 15px;
}