/* *************************************************
 * * Core
 * ************************************************* */

p {
    font-size: 14px;
}

.example {
    font-size: 16px;
}

body {
    margin-top: 20px;
}

table#table td:first-child {
    text-align: center;
}

#autonomous-delay-value {
    font-family: monospace;
}

/*
 * Force the empty #status span to take up space
 * (\200b is Unicode zero-width space).
 */
#status:after {
    content: '\200b';
}

#autonomous-delay-value, #autonomous-delay {
    vertical-align: middle;
}

#autonomous-settings {
    border: none;
}

#autonomous-settings table td:first-child {
    text-align: right;
}

#autonomous-settings[disabled] td:first-child,
#autonomous-settings[disabled] #autonomous-delay-value {
    color: rgb(197, 197, 197);
}

#autonomous-settings[disabled] img {
    opacity: 23%;
}

#blocklist-information {
    margin-top: 16px;
}

.button-spacer {
    display: block;
    height: 4px;
}

#forkme {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    width: 149px;
    height: 149px;
}

details {
    margin-bottom: 16px;
}

details > div {
    margin-left: 32px;
}

summary {
    outline: none;
}

.summary {
    cursor: pointer;
    border-bottom: 1px dotted;
}

.pattern, .url, .domain {
    color: blue;
    font-family: monospace;
}

.label {
    color: #586069;
    border: 1px solid #e1e4e8;
    border-radius: 7px;
    padding: 1px 7px;
    font-family: sans-serif;
    font-size: 12px;
    display: inline-block;
}

.nested {
    margin-left: 32px;
}

.nested p {
    margin-top: 7px ;
    margin-bottom: 7px ;
}

button[data-count="1"] span.plural {
    display: none;
}

#blocklist-items, #blocklist-exceptions {
    font-size: 12px;
}

table.blocklist-table {
    width: 100%;
}

/* Shrink the first and third columns, and expand the second. */
.blocklist-type-col,
.blocklist-remove-col {
    white-space: nowrap;
}
.blocklist-data-col {
    width: 99%;
}

.blocklist-data-col {
    word-break: break-all;
}

.blocklist-remove {
    cursor: pointer;
    font-size: 14px;
}

.blocklist-remove:hover {
    filter: brightness(0.7);
}

/* *************************************************
 * * Tooltip
 * ************************************************* */

a.tooltip {
    outline: none;
    border-bottom: 1px dotted;
}

a.tooltip:hover {
    text-decoration: none;
}

a.tooltip > span {
    z-index: 10;
    position: absolute;
    left: 0;
    display: none;
    padding: 14px 20px;
    margin-top: 40px;
    margin-left: 20px;
    width: auto;
    max-width: 300px;
    line-height: 16px;
    text-align: left;
}

a.tooltip.top > span {
    margin-top: -20px;
    transform: translateY(-100%);
}

a.tooltip:hover > span {
    display: inline;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
}

a.tooltip > span {
    border-radius: 4px;
    box-shadow: 5px 5px 8px #CCC;
}
